@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
/* @import 'media.css' */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

/* HOME PAGE */
.home-image {
  background-image: url(src/images/home.jpg);
  width: 100%;
  /* height: 100px; */
  background-position: center;
  background-size: cover;
}
header {
  width: 100%;
  height: 70px;
  padding: 5px;
  border-bottom: 1px solid rgb(73, 73, 73);
  /* position: fixed;
  top: 0;
  left: 0; */
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 100px;
  font-weight: 500;
}
/* .logo{
  margin-right: 20px;
} */
.logo-h1 {
  /* color: #e74c3c; */
  width: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  background-image: linear-gradient(180deg, blue, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.logo p {
  font-size: 14px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  padding-left: 5px;
  background-image: linear-gradient(180deg, blue, green);
  cursor: pointer;
  font-style: italic;
}
.home ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  transition: 1s linear ease-in;
}
/* .home .lists{
  margin-right: 10px;
} */
.home ul li {
  list-style: none;
  /* margin: auto 30px; */
  margin: 15px;
  cursor: pointer;
}
.home ul li a {
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  color: #551a8b;

}
.home ul li button {
  padding: 5px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #ea7814;
  color: white;
  font-size: 18px;
  font-weight: 600;

  cursor: pointer;
}
.link.active {
  color: #ea7814;
}
.home ul li button:hover {
  color: white;
}
.home ul :hover {
  color: #ea7814;
}
.content-container {
  margin: 90px;
}
.hero-container {
  /* border: 1px solid black; */
  border-radius: 30px;
  background-color: #d1f0f6;
  /* padding: 100px; */
  margin: 0 200px;
  height: 75vh;
  position: relative;
}
.hero-container .content-message {
  position: absolute;
  top: 20%;
  left: 5%;
}
.hero-container .content-message h1 {
  font-size: 54px;
  font-weight: 800;
  margin: 0 0 20px 0;
}
.hero-container .content-message h1 span {
  color: #ea7814;
}
.hero-container .content-message p {
  line-height: 30px;
}

.hero-container img {
  /* margin: 0 auto; */
  /* margin-bottom: 150px; */
  height: 500px;
  width: auto;
  padding: 50px 0 0 120px;
  left: 450px;
  position: absolute;
}

.hero-container input[type="text"] {
  margin: 30px 0 80px 0;
  width: 500px;
  height: 48px;
  padding: 0 50px 0 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  color: #ea7814;

  /* filter: drop-shadow(0 5px 5px grey); */
}

.hero-container input[type="submit"] {
  margin-left: -110px;
  height: 40px;
  width: auto;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #407f55;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}
/* /////////////////////////////////////////////////////////////////////////// //////////////////////////////////////////*/
/* ABOUT PAGE */
#about {
  height: 100vh;
  margin: 100px auto;
  
}
.about-image {
  background-image: url(src/images/about.jpg);
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: cover;
}
.about-page h1 {
  height: 100px;
  font-size: 35px;
  font-weight: 600;
  margin-left: 160px;
  padding: 10px;
  /* text-align: left; */
  text-transform: uppercase;
  /* border-bottom: 1px solid rgb(73, 73, 73); */
  /* color: orangered; */
  color: whitesmoke;
  font-style: italic;
}
.about-page h3 {
  font-size: 30px;
  font-weight: 800;
  margin: 15px;
  padding: 15px;
}
.about-page h3 span {
  color: #ea7814;
}
.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-image img {
  width: 640px;
  height: 384px;
  margin: 20px;
}
.content-image p {
  line-height: 40px;
  padding: 10px;
  overflow: hidden;
}
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/*                                         WHY US ? */
.body-content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  background-image: linear-gradient(
    40deg,
    hsl(240deg 56% 48%) 0%,
    hsl(250deg 48% 49%) 10%,
    hsl(260deg 40% 49%) 24%,
    hsl(271deg 34% 50%) 42%,
    hsl(285deg 28% 50%) 57%,
    hsl(305deg 24% 50%) 68%,
    hsl(325deg 29% 54%) 75%,
    hsl(340deg 34% 58%) 81%,
    hsl(354deg 40% 62%) 85%,
    hsl(358deg 39% 63%) 89%,
    hsl(353deg 31% 62%) 92%,
    hsl(345deg 22% 61%) 94%,
    hsl(330deg 14% 60%) 96%,
    hsl(284deg 9% 60%) 97%,
    hsl(232deg 12% 62%) 98%,
    hsl(212deg 22% 61%) 99%,
    hsl(204deg 32% 60%) 100%,
    hsl(200deg 41% 58%) 100%
  );
  background-repeat: no-repeat;
  
}
.body-content .circle-bg {
  position: absolute;
  top: 20%;
  left: 8%;
  margin: 0 30px;
  /* border: 1px solid black; */
  background-color: #d1f0f6;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  filter: drop-shadow(0 10px 5px #a29a9a);
}
.body-content .circle-bg .small-bg {
  position: absolute;
  top: 100%;
  bottom: 30%;
  /* margin: 0 30px; */
  /* border: 1px solid black; */
  background-color: #407f55;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  opacity: 0.6;
}
.body-content .circle-bg .small-bg2 {
  position: absolute;
  top: 30%;
  left: 100%;
  bottom: 0%;
  /* margin: 0 30px; */
  /* border: 1px solid black; */
  background-color: #ea7814;
  border-radius: 50%;
  height: 400px;
  width: 400px;
  z-index: -1;
}

.body-content .circle-bg img {
  position: absolute;
  left: 10%;
  margin: 0 30px;
  height: 500px;
  width: auto;
}

.body-content .body-context {
  position: absolute;
  top: 20%;
  right: 10%;
}
.body-content .body-context h1 {
  font-size: 36px;
}
.body-content .body-context h1 span {
  color: #407f55;
}
.body-content .body-context ul {
  list-style-type: none;
  margin: 50px 0 0 0;
}
.body-content .body-context ul li {
  /* border: 3px solid var(--secondary); */
  background-color: #d1f0f6;
  filter: drop-shadow(0 10px 10px #cccccc);
  border-radius: 10px;
  padding: 15px;
  margin: 30px 0 0 100px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.body-content .body-context ul li span {
  padding-left: 60px;
  letter-spacing: 1px;

  font-weight: 700;
}

.body-content .body-context ul li:hover {
  transform: translateX(10px);
  opacity: 1;
  background-color: #ea7814;
  color: #ffffff;
}
.body-content .body-context ul li img {
  height: 40px;
  width: auto;
}
.body-content .body-context .context-bg {
  position: absolute;
  top: -50%;
  left: 60%;
  right: 0;
  bottom: 0%;
  /* margin: 0 30px; */
  /* border: 1px solid black; */
  background-color: #ea7814;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  z-index: -99;
  /* overflow: hidden; */
  opacity: 0.3;
}
/* //////////////////////////////////////////////////////////////////////////////////////// */
/*                                       SERVICE PAGE */
.service-page {
  height: 100vh;
  margin: 100px auto;
  background-image: linear-gradient(
    40deg,
    hsl(240deg 56% 48%) 0%,
    hsl(250deg 48% 49%) 10%,
    hsl(260deg 40% 49%) 24%,
    hsl(271deg 34% 50%) 42%,
    hsl(285deg 28% 50%) 57%,
    hsl(305deg 24% 50%) 68%,
    hsl(325deg 29% 54%) 75%,
    hsl(340deg 34% 58%) 81%,
    hsl(354deg 40% 62%) 85%,
    hsl(358deg 39% 63%) 89%,
    hsl(353deg 31% 62%) 92%,
    hsl(345deg 22% 61%) 94%,
    hsl(330deg 14% 60%) 96%,
    hsl(284deg 9% 60%) 97%,
    hsl(232deg 12% 62%) 98%,
    hsl(212deg 22% 61%) 99%,
    hsl(204deg 32% 60%) 100%,
    hsl(200deg 41% 58%) 100%
  );
  background-repeat: no-repeat;
}
.service-image {
  background-image: url(src/images/serviceheader.jpg);
  width: 100%;
  height: 100px;
  background-position: center;
  background-size: cover;
}
.service-image h1 {
  height: 100px;
  font-size: 35px;
  font-weight: 600;
  margin-left: 160px;
  padding: 10px;
  /* text-align: left; */
  text-transform: uppercase;
  /* border-bottom: 1px solid rgb(73, 73, 73); */
  /* color: orangered; */
  color: whitesmoke;
  font-style: italic;
}
.content-btn {
  /* border: 1px solid red; */
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
.btn {
  width: 200px;
  height: 50px;
  border: 1px solid orange;
  border-radius: 1px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.btn i {
  padding: 5px;
  color: orangered;
}
.btn:hover {
  background-color: orange;
  border: 1px solid white;
  color: white;
}
.packaging-container {
  /* border: 1px solid red; */
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.inside-content {
  margin: 5px;
  /* padding: 10px; */
}
.inside-content h3 {
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 600;
}
.description p {
  margin: 5px 0;
  padding: 5px 0;
  font-size: 15px;
}
.list {
  margin: 5px 0;
  padding: 5px 0;
}
.list ul {
  margin: 10px 0;
  padding: 5px 0;
}
.list ul li {
  font-size: 18px;
  margin: 10px 0;
  padding: 5px 0;
}
/* //////////////////////////////////////////////////////////////////////////////////// */
/*                                    CONTACT US PAGE */
.contact-page {
  background-image: linear-gradient(
    40deg,
    hsl(240deg 56% 48%) 0%,
    hsl(250deg 48% 49%) 10%,
    hsl(260deg 40% 49%) 24%,
    hsl(271deg 34% 50%) 42%,
    hsl(285deg 28% 50%) 57%,
    hsl(305deg 24% 50%) 68%,
    hsl(325deg 29% 54%) 75%,
    hsl(340deg 34% 58%) 81%,
    hsl(354deg 40% 62%) 85%,
    hsl(358deg 39% 63%) 89%,
    hsl(353deg 31% 62%) 92%,
    hsl(345deg 22% 61%) 94%,
    hsl(330deg 14% 60%) 96%,
    hsl(284deg 9% 60%) 97%,
    hsl(232deg 12% 62%) 98%,
    hsl(212deg 22% 61%) 99%,
    hsl(204deg 32% 60%) 100%,
    hsl(200deg 41% 58%) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
.formBox {
  padding: 15px;
  text-align: center;
  min-height: 50vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  background: #f8f8f885;
  border-radius: 30px;
  backdrop-filter: blur(10px);

}

h2 {
  margin-bottom: -10px;
}

p {
  font-weight: 500;
  font-size: 17px;
  margin-top: 5px;
}
form {
  padding: 10px;
}

form>div {
  padding: 10px;
  position: relative;
  font-size: 18px;
}

form>div i {
  position: absolute;
  top: 22px;
  margin-left: 10px;
  opacity: 0.6;
}

form>div input {
  height: 32px;
  width: 70vw;
  padding-left: 40px;
  font-size: 16px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #b5adad;
  background-color: #f1f1f1;
}

div>input:focus {
  border: 1px solid #6f6a6a;

}

form>div:hover>i {

  opacity: 1;
  transition: opacity 1s;
}

textarea {
  border: none;
  width: 70vw;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  font-size: 1em;
}

.submitBtn button {
  width: 50%;
  height: 5vh;
  color: #ffffff;
  background: #00d689;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8em;
}

@media screen and (min-width:900px) {
  form>div input {
      width: 100%;
      
  }

  textarea {
      width: 50vw;
  }
}



